<div *ngIf="currentUser != null">
    <form class="form-horizontal" [formGroup]="addCommentForm" (ngSubmit)="onSubmitAdd()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <textarea rows="10" formControlName="content" class="form-control"
                            [ngClass]="{ 'is-invalid': (acf.content.dirty || acf.content.touched) && acf.content.errors }"
                            placeholder="Add a comment">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div *ngIf="(acf.content.dirty || acf.content.touched) && acf.content.errors"
                    class="invalid-feedback d-block">
                    <div *ngIf="acf.content.errors.required" class="invalid-caption">Content is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-10 invalid-caption">{{addCommentErrorText}}</div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success" [disabled]="addCommentForm.invalid">Submit</button>
            </div>
        </div>
    </form>
</div>
<div *ngFor="let comment of comments">
    <div *ngIf="comment" class="card card-white post">
        <div class="post-heading">
            <div class="float-left image">
                <cl-image class="img-circle avatar" *ngIf="comment.imagePublicId != null" public-id={{comment.imagePublicId}}>
                    <cl-transformation height="55" width="65" crop="fill"></cl-transformation>
                </cl-image>
                <img *ngIf="comment.imagePublicId == null" src="http://placehold.it/50x30" class="img-circle avatar"
                    alt="user profile image">
            </div>
            <div class="float-left meta">
                <div class="title h5">
                    <a [routerLink]="['/user/' + comment.userId]"><b>{{comment.userName}}</b></a>
                </div>
                <h6 class="text-muted time">{{comment.creationDate | date:'MMMM d, y, H:mm:ss' }}</h6>
                <h6 class="text-muted time">
                    <strong *ngIf="comment.editDate">Edited: </strong>{{comment.editDate | date:'MMMM d, y, H:mm:ss' }}
                </h6>
            </div>
        </div>
        <div class="post-description">
            <p>{{comment.content}}</p>
        </div>
        <p class="links" *ngIf="currentUser != null && currentUser.userName === comment.userName">
            <small><a href="javascript:void(0);" (click)="edit(comment)">Edit</a> - <a href="javascript:void(0);"
                    (click)="delete(comment)">Delete</a></small>
        </p>
    </div>
</div>
<div *ngIf="currentUser != null" id="edit-comment-form" class="fixed bg-dark" [ngClass]="{ 'hidden': hideEditForm }">
    <form class="form-horizontal my-3" [formGroup]="editCommentForm" (ngSubmit)="onSubmitEdit()">
        <input formControlName="id" type="hidden">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <textarea rows="10" formControlName="content" class="form-control"
                            [ngClass]="{ 'is-invalid': (ecf.content.dirty || ecf.content.touched) && ecf.content.errors }"
                            placeholder="Add a comment">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div *ngIf="(ecf.content.dirty || ecf.content.touched) && ecf.content.errors"
                    class="invalid-feedback d-block">
                    <div *ngIf="ecf.content.errors.required" class="invalid-caption">Content is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="cancel" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
            </div>
            <div class="col-md-1 offset-md-9 invalid-caption">{{editCommentErrorText}}</div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success" [disabled]="editCommentForm.invalid">Submit</button>
            </div>
        </div>
    </form>
</div>