<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" href="#">Cook Book</a>
            </li>
        </ul>
    </div>
    <div *ngIf="currentUser; else nonLoggedInBlock">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hello, {{currentUser?.userName}}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="authService.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #nonLoggedInBlock>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/register" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/login" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Login</a>
                </li>
            </ul>
        </div>
    </ng-template>
    
</nav>