<div class="card">
    <a *ngIf="image != null" [routerLink]="route">
        <cl-image public-id={{image}}>
            <cl-transformation height="200" width="250" crop="fill"></cl-transformation>
        </cl-image>
    </a>
    <a *ngIf="image == null" [routerLink]="route"><img src="http://placehold.it/250x200" class="card-img-top"
            alt={{title}}></a>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <ngb-rating [rate]="averageVote" [max]="5" [readonly]="'true'">
            <ng-template let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                    <span class="part" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>
        </ngb-rating>
        <a [routerLink]="route" class="btn btn-primary">Details</a>
    </div>
</div>