<h1 class="my-4">{{recipe?.name}}</h1>
<p>Created by: <strong><a [routerLink]="['/user/' + recipe?.userId]">{{recipe?.userName}}</a></strong> on 
    <em>{{recipe?.creationDate | date:'MMMM d, y, H:mm:ss' }}</em>.
    <span *ngIf="recipe?.editDate">Edited on <em>{{recipe?.editDate | date:'MMMM d, y, H:mm:ss'}}</em>.</span>
</p>
<div class="row">
    <div class="col-md-8">
        <img class="img-fluid" src="http://placehold.it/750x400" alt="">
    </div>
    <div class="col-md-4">
        <h3 class="my-3">Recipe Description</h3>
        <p>{{recipe?.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a *ngIf="currentUser != null && currentUser.userName === recipe?.userName" [routerLink]="['update']"
            class="btn btn-primary btn-lg my-3" role="button">
            Update
        </a>
        <button *ngIf="currentUser != null && currentUser.userName === recipe?.userName" data-toggle="modal"
            data-target="#confirmModal" class="btn btn-danger btn-lg my-3" type="button">
            Delete
        </button>
        <app-confirm-modal [question]="'Are you sure you want to delete this recipe?'" (confirmed)="deleteRecipe()">
        </app-confirm-modal>
    </div>
    <div class="col-md-4">
        <div class="ml-auto">
            <div class="row d-flex">
                <div class="col-md-6 my-3">
                    <strong>{{recipe.recipeVoteData.averageVote.toFixed(2)}}</strong> from
                    <strong>{{recipe.recipeVoteData.totalVotes}}</strong> votes.
                </div>
                <div class="col-md-6">
                    <ngb-rating [rate]="recipe.recipeVoteData.averageVote" [max]="5" [readonly]="'true'">
                        <ng-template let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="part" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
            <div *ngIf="authService.isLoggedIn" class="row d-flex">
                <div class="col-md-6 my-3">
                    Your vote is <strong>{{recipe.recipeVoteData.userVote}}.</strong>
                </div>
                <div class="col-md-6">
                    <ngb-rating [rate]="recipe.recipeVoteData.userVote" (rateChange)="vote($event)" [max]="5">
                        <ng-template let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="part" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">Details</h3>
<p>{{recipe?.content}}</p>

<h3 class="my-4">Tags</h3>
<app-tags-input [readonly]="true" [selectable]="true" [removable]="false" [initialTags]="recipe?.tags"
    [routerLinkPath]="'/search'" [queryParamName]="searchTerm">
</app-tags-input>